@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", serif !important
  ;
  font-optical-sizing: auto;
}

header {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  height: 88px;
  top: 0;
  z-index: 1000;
}
.header {
  max-width: 1120px;
  height: 88px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  width: 65.39956665039062;
  height: 22.87200164794922;
}
.search {
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 8px;
  background-color: #f5f5f5;
  width: 372px;
  height: 56px;
}

.search img {
  margin-left: 16px;
  width: 20px;
  height: 20px;
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
  font-size: 14px;
  color: #656565;
}

.search button {
  display: none;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.nav a {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.nav a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.icons {
  display: flex;
  gap: 24px;
}
.icons img {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.burger,
.mobile-menu {
  display: none;
}

/* Hero Section */
.hero {
  margin-top: 88px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 632px;
  background-color: #1a171e;
  color: white;
  padding: 0 10%;
}

/* Hero Content */
.hero-content {
  width: 714px;
  text-align: left;
}

#line1 {
  color: #a1a1a1;
  height: 32px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.hero-content h1 {
  margin: 0;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
  margin-bottom: 24px;
}

.hero-content h1 span {
  font-weight: 600;
}

#line2 {
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #909090;
  margin-bottom: 24px;
}

button {
  width: 191px;
  height: 56px;
  font-size: 16px;
  border: 2px solid #ffffff;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

button:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 1120px) {
  .icons,
  .nav,
  .search {
    display: none;
  }
  .burger {
    font-size: 30px;
    cursor: pointer;
    display: block;
  }
  .header {
    padding-inline: 16px;
  }
}

/* Hero Section */
.hero {
  margin-top: 88px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 632px;
  background-color: #1a171e;
  color: white;
  padding: 0 10%;
}

.hero-content {
  width: 714px;
  text-align: left;
}

#line1 {
  color: #a1a1a1;
  height: 32px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.hero-content h1 {
  margin: 0;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
  margin-bottom: 24px;
}

.hero-content h1 span {
  font-weight: 600;
}

#line2 {
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #909090;
  margin-bottom: 24px;
}

button {
  width: 191px;
  height: 56px;
  font-size: 16px;
  border: 2px solid #ffffff;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

button:hover {
  background: white;
  color: black;
}

.hero-mob-image img {
  display: none;
}

/* Media Query for Mobile 876დან */
@media (max-width: 876px) {
  .hero {
    height: 769px;
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    margin-top: 88px;
    width: auto;
    text-align: center;
  }
  #line2,
  #line1,
  .hero-content h1 {
    margin-bottom: 16px;
  }
  button {
    width: 100%;
    max-width: 200px;
    margin-top: 16px;
  }
  .hero-image img {
    display: none;
  }

  .hero-mob-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .hero-mob-image img {
    margin-bottom: 0;
    display: block;
  }
}
footer {
  width: 100%;
  background-color: #000;
  height: 504px;
}
.footer {
  transform: translateY(50%);
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer-sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section.about {
  flex: 1;
  min-width: 300px;
  height: 256px;
}

.footer-logo {
  margin-bottom: 24px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #ccc;
  max-width: 300px;
  margin-bottom: 113px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 623px;
  height: 256px;
}

.footer-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  transition: color 0.3s;
}
.footer-section ul li {
  height: 32px;
}

.footer-section ul li a:hover {
  color: #fff;
}
.footer-icons {
  display: flex;
  gap: 36px;
}

@media screen and (max-width: 900px) {
  footer {
    height: auto;
  }

  .footer {
    transform: none;
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .footer-sec1 {
    flex-direction: column;
  }

  .footer-section.about {
    margin-top: 48px;
    min-width: auto;
    height: auto;
    margin-bottom: 32px;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-section p {
    margin-bottom: 16px;
    max-width: 100%;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 32px;
  }

  .footer-title {
    font-size: 14px;
  }

  .footer-section ul {
    align-items: center;
  }

  .footer-section ul li {
    height: 32px;
    gap: 8px;
  }

  .footer-icons {
    margin-top: 16px;
    gap: 25px;
    margin-bottom: 48px;
  }
}
