@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", serif !important
  ;
  font-optical-sizing: auto;
}
footer {
    width: 100%;
    background-color: #000;
    height: 504px;
  }
  .footer {
    transform: translateY(50%);
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-section.about {
    flex: 1;
    min-width: 300px;
    height: 256px;
  }
  
  .footer-logo {
    margin-bottom: 24px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
    color: #ccc;
    max-width: 300px;
    margin-bottom: 113px;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 623px;
    height: 256px;
  }
  
  .footer-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: color 0.3s;
  }
  .footer-section ul li {
    height: 32px;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  .footer-icons {
    display: flex;
    gap: 36px;
  }
  

@media screen and (max-width: 900px) {
    footer {
      height: auto;
    }
  
    .footer {
      transform: none;
      max-width: 100%;
      align-items: center;
      text-align: center;
    }
  
    .footer-sec1 {
      flex-direction: column;
    }
  
    .footer-section.about {
      margin-top: 48px;
      min-width: auto;
      height: auto;
      margin-bottom: 32px;
    }
  
    .footer-logo {
      margin-bottom: 16px;
    }
  
    .footer-section p {
      margin-bottom: 16px;
      max-width: 100%;
    }
  
    .footer-grid {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 32px;
    }
  
    .footer-title {
      font-size: 14px;
    }
  
    .footer-section ul {
      align-items: center;
    }
  
    .footer-section ul li {
      height: 32px;
      gap: 8px;
    }
  
    .footer-icons {
      margin-top: 16px;
      gap: 25px;
      margin-bottom: 48px;
    }
  }